<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>絶景九州</title>
    <%- include('common') %>
<link
  href="../public/css/opening.css"
  type="text/css"
  rel="stylesheet"
  media="screen,projection"
/>
  </head>

  <body>
    <input type="hidden" id="mapId" value="<%= mapId %>" />

    <%- include('topNav') %>

    <ul id="slideOutMobile" class="sidenav">
      <li><a href="./index.html"> ホーム </a></li>
      <li onclick="menuClick('about')">
        <a href="#about"> 絶景九州について </a>
      </li>
      <li onclick="menuClick('post')"><a href="#!"> 写真を投稿する </a></li>
      <li onclick="menuClick('watch')"><a href="#!"> 写真を見る </a></li>
      <li onclick="menuClick('commercial')">
        <a href="#!"> 商業利用について </a>
      </li>
    </ul>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <!-- <div class="background">
            <img src="img/logo/logo.png" />
          </div> -->
          <a href="#user"
            ><img class="circle" src="../public/img/logo/logo.jpg"
          /></a>
        </div>
      </li>
      <li><a href="./index.html"> ホーム </a></li>
      <li onclick="menuClick('about')">
        <a href="#about"> 絶景九州について </a>
      </li>
      <li onclick="menuClick('post')"><a href="#!"> 写真を投稿する </a></li>
      <li onclick="menuClick('watch')"><a href="#!"> 写真を見る </a></li>
      <li onclick="menuClick('commercial')">
        <a href="#!"> 商業利用について </a>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
      </li>
      <li><a href="#!">Second Link</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <!-- <div class="row" style="height: 100vh; background-color: gainsboro">
      <div id="map" class="center"></div>
    </div> -->

    <%- include('opening') %>

    <!-- ギャラリー表示 -->
    <div class="canvas-wrapper">
      <canvas class="view"></canvas>
    </div>

    <script id="backgroundFragment" type="x-shader/x-fragment">
      // Adapted from: https://www.shadertoy.com/view/MdlGRr

      // It is required to set the float precision for fragment shaders in OpenGL ES
      // More info here: https://stackoverflow.com/a/28540641/4908989
      #ifdef GL_ES
      precision mediump float;
      #endif

      uniform vec2 uPointerDiff;

      // This function returns 1 if `coord` correspond to a grid line, 0 otherwise
      float isGridLine (vec2 coord) {
        vec2 pixelsPerGrid = vec2(50.0, 50.0);
        vec2 gridCoords = fract(coord / pixelsPerGrid);
        vec2 gridPixelCoords = gridCoords * pixelsPerGrid;
        vec2 gridLine = step(gridPixelCoords, vec2(1.0));
        float isGridLine = max(gridLine.x, gridLine.y);
        return isGridLine;
      }

      // Main function
      void main () {
        // Coordinates minus the `uPointerDiff` value, and plus an offset
        vec2 coord = gl_FragCoord.xy - uPointerDiff + vec2(10.0);
        // Set `color` to black
        vec3 color = vec3(0.0);
        // If it is a grid line, change blue channel to 0.3
        color.b = isGridLine(coord) * 0.3;
        // Assing the final rgba color to `gl_FragColor`
        gl_FragColor = vec4(color, 1.0);
      }
    </script>

    <script id="stageFragment" type="x-shader/x-fragment">
      // Adapted from: https://www.shadertoy.com/view/4lSGRw

      #ifdef GL_ES
      precision mediump float;
      #endif

      // Uniforms from Javascript
      uniform vec2 uResolution;
      uniform float uPointerDown;

      // The texture is defined by PixiJS
      varying vec2 vTextureCoord;
      uniform sampler2D uSampler;

      // Function used to get the distortion effect
      vec2 computeUV (vec2 uv, float k, float kcube) {
        vec2 t = uv - 0.5;
        float r2 = t.x * t.x + t.y * t.y;
        float f = 0.0;
        if (kcube == 0.0) {
          f = 1.0 + r2 * k;
        } else {
          f = 1.0 + r2 * (k + kcube * sqrt(r2));
        }
        vec2 nUv = f * t + 0.5;
        nUv.y = 1.0 - nUv.y;
        return nUv;
      }

      void main () {
        // Normalized coordinates
        vec2 uv = gl_FragCoord.xy / uResolution.xy;

        // Settings for the effect
        // Multiplied by `uPointerDown`, a value between 0 and 1
        float k = -1.0 * uPointerDown;
        float kcube = 0.5 * uPointerDown;
        float offset = 0.02 * uPointerDown;

        // Get each channel's color using the texture provided by PixiJS
        // and the `computeUV` function
        float red = texture2D(uSampler, computeUV(uv, k + offset, kcube)).r;
        float green = texture2D(uSampler, computeUV(uv, k, kcube)).g;
        float blue = texture2D(uSampler, computeUV(uv, k - offset, kcube)).b;

        // Assing the final rgba color to `gl_FragColor`
        gl_FragColor = vec4(red, green, blue, 1.0);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script src="../public/js/gallery.js"></script>

    <div class="cInnerContent">
      <h1 class="header-section gs_reveal ipsType_center">絶景九州</h1>

      <div id="about" class="features">
        <div
          class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone"
        >
          <div
            class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft"
          >
            <div class="card">
              <img
                width="479"
                src="https://source.unsplash.com/random/"
                alt=""
              />
            </div>
          </div>

          <div class="ipsGrid_span7 ipsType_left">
            <h2 class="heading_large gs_reveal">絶景九州について</h2>
            <p class="gs_reveal">
              <a href="https://greensock.com/drawsvg/">DrawSVGPlugin</a> allows
              you to progressively reveal (or hide) SVG strokes to make them
              look like they're being drawn.
              <a href="https://greensock.com/morphsvg/">MorphSVGPlugin</a> to
              Morph any SVG shape into any other shape smoothly regardless of
              the number of points in each.
              <a href="/docs/v3/Plugins/MotionPathPlugin">MotionPathPlugin</a>
              allows you to easily move any object along a path.
            </p>
          </div>
        </div>

        <div
          id="post"
          class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone"
        >
          <div class="ipsGrid_span7 ipsType_right">
            <h2 class="heading_large gs_reveal">写真を投稿する</h2>
            <p class="gs_reveal">
              GreenSock is used in some of the most popular
              <a href="//threejs.org/">Three.js</a> powered WebGL projects.
              Animate any object in a scene.
              <a href="https://greensock.com/PixiPlugin/">PixiPlugin</a> makes
              animating <a href="//www.pixijs.com/">Pixi.js</a> objects with
              GSAP a breeze. Animate position, scale, color effects and more
              with all the power and control of GSAP and the rendering speed of
              Pixi.js.
            </p>
          </div>

          <div
            class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight"
          >
            <div class="card">
              <img
                width="479"
                src="https://source.unsplash.com/random/"
                alt=""
              />
            </div>
          </div>
        </div>

        <div
          id="watch"
          class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone"
        >
          <div
            class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft"
          >
            <div class="card">
              <img
                width="479"
                src="https://source.unsplash.com/random/"
                alt=""
              />
            </div>
          </div>

          <div class="ipsGrid_span7 ipsType_left">
            <h2 class="heading_large gs_reveal">写真を見る</h2>
            <p class="gs_reveal">
              GSAP makes animating with Canvas even easier by providing an
              easier way to look and sequence animations. GSAP works great with
              <a href="//www.adobe.com/products/animate.html">Adobe Animate</a>
              and <a href="//createjs.com/easeljs">EaseJS</a> through GSAP's
              <a href="https://greensock.com/easelplugin/">EaselJSPlugin</a>.
            </p>
          </div>
        </div>

        <div
          id="commercial"
          class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone"
        >
          <div class="ipsGrid_span7 ipsType_right">
            <h2 class="heading_large gs_reveal">商業利用について</h2>
            <p class="gs_reveal">
              GSAP is used on over 8,500,000 sites and over 1,000 sites featured
              on
              <a
                href="https://www.awwwards.com/websites/gsap-animation/"
                target="_blank"
                >Awwwards</a
              >. For some of our favorites, check out
              <a href="https://greensock.com/showcase/">our showcase</a>.
            </p>
          </div>

          <div
            class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight"
          >
            <div class="card">
              <img
                width="479"
                src="https://source.unsplash.com/random/"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="display: none">
      <div class="section">
        <div class="row">
          <div class="col s6 m6">
            <div class="chara-stack-card-wrapper">
              <div class="card-text">
                <div class="card-text-container">
                  <span class="card-text-dummy dummy1"></span>
                  <span class="card-text-main">
                    <span class="card-text-main-inner">絶景九州について</span>
                  </span>
                </div>
                <div class="card-text-container">
                  <span class="card-text-dummy dummy2"></span>
                  <span class="card-text-main">
                    <span class="card-text-main-inner">Zekkei</span>
                  </span>
                </div>
              </div>
              <img
                src="https://source.unsplash.com/random/"
                class="card-img-bg"
              />
            </div>
          </div>
          <div class="col s6 m6">
            <p>絶景九州について</p>
            <p>絶景九州について</p>
            <p>絶景九州について</p>
            <p>絶景九州について</p>
            <p>絶景九州について</p>
            <p>絶景九州について</p>
          </div>
        </div>
      </div>
    </div>

    <div id="facebook" class="section">
      <div class="container">
        <div class="row center">
          <!-- <iframe
            src="https://www.facebook.com/groups/zekkei.kyushu.group/"
            width="100%"
            height="400"
          ></iframe> -->
        </div>
      </div>
    </div>

    <%- // include('loader') %> <%- include('footer') %>

    <!--Scripts-->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "629103718457980",
          autoLogAppEvents: true,
          xfbml: true,
          version: "v17.0",
        });
      };
    </script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../public/js/materialize/materialize.js"></script>
    <script src="../public/js/gsap/minified/gsap.min.js"></script>
    <script type="module" src="../public/js/init.js" defer></script>
    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= mapKey %>&callback=initMap&v=beta"
      defer
    ></script> -->
    <script src="../public/js/animation.js"></script>
    <script src="../public/js/opening.js"></script>
  </body>
</html>
